export(colorbar)
export(coord)
export(create.neuro)
export(do)
export(fetch)
export(fetchAtlas)
export(fetchGlobal)
export(fetchResult)
export(fetchSubject)
export(fetchTemplate)
export(id)
export(mkNeuro)
export(neurocdf)
export(planeval)
export(procImageFiles)
export(put)
export(renameImageFiles)
export(roi)
export(slices)
export(type)
export(upsamp)
export(vol2idx)
export(volume3d)
export(vxmm)
S3method(coord,neurocdf)
S3method(dim,neurocdf)
S3method(do,neurocdf)
S3method(fetch,neurocdf)
S3method(id,neurocdf)
S3method(plot,array)
S3method(plot,neuro.vol)
S3method(plot,neuro)
S3method(plot,neurocdf)
S3method(print,neuro.vol)
S3method(print,neuro)
S3method(print,neurocdf)
S3method(put,neurocdf)
S3method(slices,default)
S3method(summary,neurocdf)
S3method(type,neurocdf)
